* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

header {
    background-image: url("./images/banner/banner2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    /* background-blend-mode: overlay; */
}

.banner {
    padding: 12% 230px 0 40%;
    text-align: right;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
    margin: 16px;
}

.description {
    margin: 16px;

    line-height: 26px;
    color: #444343;
}

.p-btn {
    color: white;
    background: #F15B22;
    border-radius: 5px;
    padding: 20px 25px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    margin: 16px;
}
.p-btn:hover{
    color: #F15B22;
    background: white;
}
/* main */
/* My failures of previous year */
.failures {
    margin: auto;
    padding: 130px 0;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 7%;
}

.failures.text {
    width: 400px;
}

.failures-title {
    font-weight: 700;
    font-size: 40px;
    margin: 16px;

}

.failures-list {
    list-style: none;
    color: #444343;
    padding: 0;

}

.failures-list>li {
    margin: 8px 0 8px 16px;
}

/* my plans */
.plan-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
    margin-bottom: 50px;
}

.topic-container {
    display: flex;
    justify-content: center;
    gap: 100px;

}

.topic {
    text-align: center;
}

.topic-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin: 25px 0 15px 0;
}

.s-btn {
    color: #F15B22;
    background: white;
    border-radius: 5px;
    padding: 20px 25px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
}
.s-btn:hover{
    color: white;
    background: #F15B22;
}

.call-now{
    padding: 130px ;
}

.call-now-bg {
    background-image: url('./images/watch.png'), linear-gradient(90deg,  rgb(241, 91, 34) 0%, rgba(241, 91, 34, 0) 100%);
    background-repeat: no-repeat;
    margin: auto;
    height: 300px;
    width: 1140px;
    border-radius: 8px;
    background-blend-mode: overlay;


}

.call-now-text{
    padding: 80px 65px;
   
}
.call-now-text>h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 25px;
    
}

.f-containar{
    background: #151414;
    padding: 130px 0;
    display: flex;
    justify-content: center;
    gap: 300px;
}
.info{
    width:30%;
}
.info-title{
    font-size: 45px;
color: #F8F8F8;

}
.description-2{
 margin: 16px 0;
    line-height: 26px;
    color: #ffffff;
}
.f-images>img{
    margin: 16px 16px 0 0;
}
.user-input>h4{
    font-weight: 600;
font-size: 25px;
color: white ;


}
.user-input>input{
    margin: 32px 0 16px 0 ;
    padding: 22px ;
    width: 325px;
    border: 1px solid #979797;
    border-radius: 8px;
    font-size: 18px;
    color:#979797;
    background: #151414;
}
.user-input>input:focus{
    outline: none;
}